In [1]:
import os
import sys
print(os.getcwd())
from os.path import join as JP
sys.path.append(os.getcwd())
sys.path.append(JP(os.getcwd(),'utils'))
sys.path.append(JP(os.getcwd(),'scripts'))

/Users/pabloruizruiz/OneDrive/Courses/NLP_Stanford/Complementary_Courses/Document_Clustering

In [64]:
import numpy as np
import pandas as pd
import seaborn as sns
from pprint import pprint
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

%matplotlib notebook
np.set_printoptions(precision=3)
pd.options.display.float_format = '{:,.3f}'.format

In [65]:
words = ['abe','abe','abe','zebra','zebra','zebra']
methods = ['A','B','C','A','B','C']
scores = [0.6,0.9,0.1,0.8,0.9,0.4]

In [66]:
data = {
    'abe': {
        'A': 0.6,
        'B': 0.9,
        'C': 0.1},
    'zebra': {
        'A': 0.8,
        'B': 0.9,
        'C': 0.4}}

In [74]:
pd.DataFrame.from_dict(data,orient='columns')

    abe  zebra
A 0.600  0.800
B 0.900  0.900
C 0.100  0.400

In [75]:
index_table = pd.DataFrame.from_dict(data,orient='index')
index_table

          A     B     C
abe   0.600 0.900 0.100
zebra 0.800 0.900 0.400

In [76]:
index_table.T == pd.DataFrame.from_dict(data,orient='columns')

    abe  zebra
A  True   True
B  True   True
C  True   True

In [77]:
flat_table = pd.DataFrame.from_dict(data,orient='index')
flat_table = flat_table.rename_axis('word').reset_index()
flat_table

    word     A     B     C
0    abe 0.600 0.900 0.100
1  zebra 0.800 0.900 0.400

In [84]:
long_table = flat_table.melt(
    id_vars=['word'],
    var_name='method',
    value_name='score')

long_table

    word method  score
0    abe      A  0.600
1  zebra      A  0.800
2    abe      B  0.900
3  zebra      B  0.900
4    abe      C  0.100
5  zebra      C  0.400

In [90]:
long_table.pivot(index='word',columns='method',values='score')

method     A     B     C
word
abe    0.600 0.900 0.100
zebra  0.800 0.900 0.400